xml/ns/rice-kim-lb-ext-2.0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2014 Leo Przybylski. All rights reserved.
  
   Redistribution and use in source and binary forms, with or without modification, are
   permitted provided that the following conditions are met:
  
      1. Redistributions of source code must retain the above copyright notice, this list of
         conditions and the following disclaimer.
  
      2. Redistributions in binary form must reproduce the above copyright notice, this list
         of conditions and the following disclaimer in the documentation and/or other materials
         provided with the distribution.
  
   THIS SOFTWARE IS PROVIDED BY Leo Przybylski ''AS IS'' AND ANY EXPRESS OR IMPLIED
   WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
   FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> OR
   CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
   CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
   SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
   ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
   NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
   ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  
   The views and conclusions contained in the software and documentation are those of the
   authors and should not be interpreted as representing official policies, either expressed
   or implied, of Leo Przybylski.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.liquibase.org/xml/ns/rice-kim-lb-ext"
            xmlns="http://www.liquibase.org/xml/ns/rice-kim-lb-ext"
            elementFormDefault="qualified">

  <xsd:element name="createKimType">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="attribute" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
	    <xsd:attribute name="namespace" type="xsd:string" default="KUALI"/>
	    <xsd:attribute name="component" type="xsd:string" />
	    <xsd:attribute name="name" type="xsd:string" use="required" />
	    <xsd:attribute name="value" type="xsd:string" use="required" />
	    <xsd:attribute name="label" type="xsd:string" />
	    <xsd:attribute name="active" type="xsd:string" default="Y" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="service" type="xsd:string" use="required" />
      <xsd:attribute name="active" type="xsd:string" default="Y" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropKimType">
    <xsd:complexType>
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropKimTypeAttribute">
    <xsd:complexType>
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="type" type="xsd:string" use="required"/>
      <xsd:attribute name="attribute" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <!-- 
       Role Tags
  -->
  <xsd:element name="createRole">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="type" minOccurs="1" maxOccurs="1">
	      <xsd:complexType>
	        <xsd:sequence>
              <xsd:element name="attribute" minOccurs="0" maxOccurs="unbounded">
		        <xsd:complexType>
		          <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
		          <xsd:attribute name="component" type="xsd:string" />
		          <xsd:attribute name="name" type="xsd:string" use="required" />
		          <xsd:attribute name="value" type="xsd:string" use="required" />
		          <xsd:attribute name="label" type="xsd:string" />
		          <xsd:attribute name="active" type="xsd:string" default="Y" />
		        </xsd:complexType>
              </xsd:element>
	        </xsd:sequence>
	        <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
	        <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
	        <xsd:attribute name="name" type="xsd:string" use="required" />
	        <xsd:attribute name="service" type="xsd:string" />
	        <xsd:attribute name="active" type="xsd:string" default="Y" />	
	      </xsd:complexType>
	    </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
      <xsd:attribute name="name" type="xsd:string" use="required" />
      <xsd:attribute name="active" type="xsd:string" default="Y" />
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropRole">
    <xsd:complexType>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="namespace" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>


  <!-- 
       Responsibility Tags
  -->
  <xsd:element name="createResponsibility">
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element name="attribute" minOccurs="0" maxOccurs="unbounded">
	  <xsd:complexType>
	    <xsd:attribute name="name" type="xsd:string" />
	    <xsd:attribute name="type" type="xsd:string" />
	    <xsd:attribute name="value" type="xsd:string" />
	  </xsd:complexType>
	</xsd:element>
      </xsd:sequence>

      <xsd:attribute name="template" type="xsd:string" use="required" />
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropResponsibility">
    <xsd:complexType>
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="addResponsibilityAttribute">
    <xsd:complexType>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="template" type="xsd:string" use="required" />
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropResponsibilityAttribute">
    <xsd:complexType>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="template" type="xsd:string" use="required" />
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="addResponsibilityAction">
    <xsd:complexType>
      <xsd:attribute name="member" type="xsd:string" use="required"/>
      <xsd:attribute name="role" type="xsd:string" use="required" />
      <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
      <xsd:attribute name="responsibility" type="xsd:string" use="required" />
      <xsd:attribute name="forceAction" type="xsd:string" use="optional" />
      <xsd:attribute name="policy" type="xsd:string" use="optional" />
      <xsd:attribute name="priority" type="xsd:string" use="optional" />
      <xsd:attribute name="action" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropResponsibilityAction">
    <xsd:complexType>
      <xsd:attribute name="namespace" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="responsibility" type="xsd:string" use="required" />
      <xsd:attribute name="role" type="xsd:string" use="required"/>
      <xsd:attribute name="member" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="assignResponsibility">
    <xsd:complexType>
      <xsd:attribute name="responsibility" type="xsd:string" default="KUALI" />
      <xsd:attribute name="role" type="xsd:string" />
      <xsd:attribute name="namespace" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropResponsibilityAssignment">
    <xsd:complexType>
      <xsd:attribute name="role" type="xsd:string" use="required" />
      <xsd:attribute name="responsibility" type="xsd:string" use="required" />
      <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="createPermission">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="attribute" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
	    <!--
	    <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
	    -->
	    <xsd:attribute name="active" type="xsd:string" default="Y" />
	    <xsd:attribute name="template" type="xsd:string" use="required" />
	    <xsd:attribute name="namespace" type="xsd:string" use="required"/>
	    <xsd:attribute name="name" type="xsd:string" use="required"/>
	    <xsd:attribute name="value" type="xsd:string" use="required"/>
	    <xsd:attribute name="type" type="xsd:string" />
	    <xsd:attribute name="description" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="template" type="xsd:string" use="required" />
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropPermission">
    <xsd:complexType>
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="assignPermission">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="permission" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="role" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="active" type="xsd:string" default="Y" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropPermissionAssignment">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="permission" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="role" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="active" type="xsd:string" default="Y" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="addPermissionAttribute">
    <xsd:complexType>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="permission" type="xsd:string" use="required" />
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="value" type="xsd:string" use="required"/>
      <xsd:attribute name="type" type="xsd:string" use="required"/>
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropPermissionAttribute">
    <xsd:complexType>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="template" type="xsd:string" use="required" />
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>


  <xsd:element name="assignRoleMember">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="member" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="type" type="xsd:string" use="required" />
            <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="attribute" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="type" type="xsd:string" use="required" />
            <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="actions" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="type" type="xsd:string" use="required" />
            <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="role" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="namespace" type="xsd:string" default="KUALI" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="active" type="xsd:string" default="Y" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropRoleAssignment">
    <xsd:complexType>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="template" type="xsd:string" use="required" />
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="addRoleMemberAttribute">
    <xsd:complexType>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="template" type="xsd:string" use="required" />
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropRoleMemberAttribute">
    <xsd:complexType>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="template" type="xsd:string" use="required" />
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>


  <xsd:element name="createParameter">
    <xsd:complexType>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="component" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="value" type="xsd:string" use="required" />
      <xsd:attribute name="type" type="xsd:string" default="CONFG" />
      <xsd:attribute name="operator" type="xsd:string" default="ALLOW" />
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropParameter">
    <xsd:complexType>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="createAttributeDefinition">
    <xsd:complexType>
      <xsd:attribute name="label" type="xsd:string"  use="required"/>
      <xsd:attribute name="namespace" type="xsd:string"  use="required"/>
      <xsd:attribute name="name" type="xsd:string"  use="required"/>
      <xsd:attribute name="component" type="xsd:string"  use="required"/>
      <xsd:attribute name="active" type="xsd:string"  use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dropAttributeDefinition">
    <xsd:complexType>
      <xsd:attribute name="application" type="xsd:string" default="KUALI"/>
      <xsd:attribute name="namespace" type="xsd:string" use="required"/>
      <xsd:attribute name="component" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="value" type="xsd:string" use="required" />
      <xsd:attribute name="type" type="xsd:string" default="CONFG" />
      <xsd:attribute name="operator" type="xsd:string" default="ALLOW" />
      <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

    <xsd:attributeGroup name="typeAttributes">
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:attributeGroup>

	<xsd:attributeGroup name="roleMemberAttributeBaseType">
		<xsd:attribute name="attributeDef" type="xsd:string" use="required"/>
		<xsd:attribute name="type" type="xsd:string" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="permissionAttributeBaseType">
		<xsd:attribute name="attributeDef" type="xsd:string"  use="required"/>
		<xsd:attribute name="type" type="xsd:string"  use="required"/>
		<xsd:attribute name="value" type="xsd:string"  use="required"/>
		<xsd:attribute name="active" type="xsd:string" use="optional"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="responsibilityAttributeBaseType">
		<xsd:attribute name="value" type="xsd:string"  use="required"/>
		<xsd:attribute name="attributeDef" type="xsd:string"  use="required"/>
		<xsd:attribute name="type" type="xsd:string"  use="required"/>
	</xsd:attributeGroup>


	<xsd:attributeGroup name="roleResponsibilityActionBaseType">
		<xsd:attribute name="force" type="xsd:string"  use="required"/>
		<xsd:attribute name="actionTypeCode" type="xsd:string"  use="required"/>
		<xsd:attribute name="priority" type="xsd:string"  use="required"/>
		<xsd:attribute name="actionPolicyCode" type="xsd:string"  use="required"/>
	</xsd:attributeGroup>

</xsd:schema>
